<!-- Header -->
<section id="header" class="skel-layers-fixed" style="background: #505050">
    <header>
        <table>
          <tr>
            <td><img src="images/VTK.png" alt="VTK Logo" width="105%"></img></td>
            <td><img src="images/VLK.png" alt="VLK Logo" width="75%"></img></td>
            <td></td>
          </tr>
          </tr>
          <tr>
            <td><img src="images/VPPK.png" alt="VPPK Logo" width="104%"></img></td>
            <td><img src="images/VLAK.png" alt="VLAK Logo" width="78%"></img></td>
          </tr>
        </table>
        <h1 style="color: #ffffff; text-shadow: 1px 1px #000000">SPEEDDATE</h1>
        <h1 style="color: #ffffff; text-shadow: 1px 1px #000000">SMS-Wall</h1>
        <h5 style="color: #ffffff; text-shadow: 1px 1px #000000">SMS naar 0472/134 434<br /> (kost = je eigen SMS-tarief)</h5>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="speeddate" class="<%= sidebar_active_smswall %>">SMS-Wall</a></li>
        </ul>
    </nav>
</section>
