<!-- Header -->
<section id="header" class="skel-layers-fixed" style="background: #2f2f2f">
    <header>
        <span class="image"><img src="images/delta.png" alt="Delta Logo" width="100%"  /></span>
        <h1 style="color: #ffffff; text-shadow: 1px 1px #000000">Delta SMS-Wall</h1>
        <h5 style="color: #48a248; text-shadow: 1px 1px #000000" >SMS naar 0472/134 434<br /> (kost = je eigen SMS-tarief)</h5>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="delta" class="<%= sidebar_active_smswall %>">SMS-Wall</a></li>
        </ul>
    </nav>
</section>
