<!DOCTYPE HTML>
<html>
	<head>
		<title>VTK SMS-Wall</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrollzer.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>

		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>

	</head>
	<body>
		<div id="wrapper">

			<% include partials/sidebar_vtk %>

			<!-- Main -->
			<div id="main">
				<section id="content">
					<div class="container" >
						<center>
							<h3 style="text-shadow: 1px 2px #000000">
								<p>Komt nu Vlaamse Techniekers</br>
								Heft een feestzang aan</br>
								Brossers, strevers en spiekers</br>
								Gaat nu zij aan zij staan</br>
								Staakt nu alle twisten</br>
								Stopt het speelse gedol</br>
								Bier heeft lang liggen gisten</br>
								Doe ze nu maar eens vol (bis)</br></p>

								<p>Moeders droogt nu uw tranen</br>
								Vaders stopt uw geklaag</br>
								Wij vereren de granen</br>
								Wij bezuipen ons graag</br>
								VTK is aan 't zwijnen</br>
								Voor de biergod gezwicht</br>
								Reeds schijnt door de gordijnen</br>
								't eerste ochtendlicht (bis)</p>
							</h3>
						</center>
					</div> <!-- /container -->
				</section>
			</div>
		</div>
	</body>
</html>
